<ul class="pagination__list">
  {% if previous_url %}
    <li class="pagination__button">
      <a href="{{ previous_url }}" aria-disabled="false" aria-label="Previous page" rel="prev">
        <span class="material-icon" aria-hidden="true">keyboard_arrow_left</span>
      </a>
    </li>
  {% else %}
    <li class="pagination__button disabled">
      <a aria-disabled="true" aria-label="Previous page" rel="prev" >
        <span class="material-icon" aria-hidden="true">keyboard_arrow_left</span>
      </a>
    </li>
  {% endif %}

  {% for page_link in page_links %}
    {% if page_link.is_break %}
      <li class="pagination__break disabled">
        <a aria-disabled="true" aria-label="truncated pages">
          <span class="material-icon" aria-hidden="true">...</span>
        </a>
      </li>
    {% else %}
      {% if page_link.is_active %}
        <li class="pagination__page page__active">
          <a rel="canonical" aria-current="page" href="{{ page_link.url }}">{{ page_link.number }}</a>
        </li>
      {% else %}
        <li  class="pagination__page">
          <a href="{{ page_link.url }}">{{ page_link.number }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if next_url %}
    <li class="pagination__button">
      <a href="{{ next_url }}" aria-label="Next page" aria-disabled="false" rel="next">
        <span class="material-icon" aria-hidden="true">keyboard_arrow_right</span>
      </a>
    </li>
  {% else %}
    <li class="pagination__button disabled">
      <a aria-disabled="true" aria-label="Next page" rel="next">
        <span class="material-icon" aria-hidden="true">keyboard_arrow_right</span>
      </a>
    </li>
  {% endif %}
</ul>
