Django~=5.2
django-cors-headers~=4.9
django-csp~=4.0
django-elasticsearch-dsl~=7.2
django-elasticsearch-dsl-drf~=0.22
djangorestframework~=3.18
elasticsearch~=7.17
elasticsearch-dsl~=7.4
jsonschema~=4.26
markdown~=3.10
psycopg2~=2.9
PyYAML~=6.0
rac-schema-validator~=1.1
rac_es~=1.1
shortuuid~=1.0
uritemplate~=4.2
